*{
    margin: 0;
    padding: 0;
  
    
    
}



.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:white;
    color: white;
   
  


  
}
.listing{
    position: absolute;
    font-weight: 700;
    margin-left: 50px;
    margin-top: -15px;
    font-size: 20px;
    color: #000006;


}
.listing:before{
    content: "";
    border: 0.595px solid #231F20;
    width: 145px;
    height: 0.5px;
    display: block;
}

.listing::after{
    content: "";
    border: 0.595px solid #231F20;
    width: 145px;
    height: 0.5px;
    display: block;
}

.ready{
    color: #DD9C20;
}




.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.agents,
.contactus,
.homeowners,
.investors,
.ourwork {
    
    text-decoration: none;
    color: rgb(33, 37, 41);
    font-size: medium;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}


 li:hover
{
    color: red;
}
/*------------------------------------------------------------------------------------------------------------------------------*/


.logo1{
    width: 97%;
    height: 80vh;
    
    
   margin: 20px;
 
    background-image:url("../images/img1.png");
}

.shadow{
    
        width: 73vh;
        height: 45vh;
      
        margin-left: 150px;
       
           background: #FFFFFF;
            mix-blend-mode: normal;
              opacity: 0.7;
              border: 1px solid white;
 
}
.money{
   font-family: Montserrat;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
   font-size: 28px;
   font-weight: 300;
   color: #000000;
   text-transform: uppercase;

}
.money2
{
    
   
    font-weight: 800;
      color:black;
}

.property
{
    margin-top: 10px;
    margin-left: 50px;
}
.estimate{
    background: #E39D23;
     height: 30px;
    width: 50%;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: 700;
    padding-left: 20px;
    
}
.price{
    margin-top: 10px;
    margin-left: 50px;
    
}



/*----------------------------------------------------@media queries------------------------------*/

@media only screen and  (max-width:1024px){


    .logo1{
        width: 97%;
        height: 40vh;
        
        margin: 15px;
        
        
     
    }
.shadow{
    
        width: 36vh;
        height: 23vh;
      
        margin-left: 100px;
       
           background: #FFFFFF;
            mix-blend-mode: normal;
              opacity: 0.7;
              border: 1px solid white;
 
}

}




@media only screen and  (max-width:768px){





    .logo1{
        width: 95%;
        height: 50vh;
        
        
       margin: 20px;
     
        background-image:url("../images/img1.png");
    }


    .shadow{
    
        width: 50vh;
        height: 30vh;
      
        margin-left: 50px;
       
           background: #FFFFFF;
            mix-blend-mode: normal;
              opacity: 0.7;
              border: 1px solid white;
 
}


}


@media only screen and  (max-width:550px){


.logo1
{
   

    width: 95%;
    height: 50vh; 
    
     
     padding: 20px;



}


}











@media only screen and  (max-width:710px){

    .shadow{
        margin-left: 10px;
        
       
         
 
}


.logo1{
    width: 93%;
    height: 50vh;
   
 
}
  


}


@media only screen and  (max-width:550px){

    .shadow{
    
        width: 45vh;
        height: 30vh;
        margin-left: 5px;
        margin-top: -20px;
        
       
      
 
}
.money{
   font-family: Montserrat;
    margin-top: 15px;
    margin-right: 60px;
    margin-left: 5px;
   font-size: 18px;
   font-weight: 300;
   color: #000000;
   text-transform: uppercase;

}
.money2
{
    
   
    font-weight: 800;
      color:black;
}

.property
{
    margin-top: 10px;
    margin-left: 5px;
}
.estimate{
    background: #E39D23;
     height: 30px;
    width: 60%;
    color: white;
    margin-top: 20px;
    margin-left: 5px;
    font-weight: 700;
    padding-left: 20px;
    
}
.price{
    margin-top: 10px;
    margin-left: 5px;
    
}
}

@media only screen and  (max-width:360px){


    .shadow{
    
        width: 40vh;
    }


    
    
     
     .property
     {
         margin-top: 10px;
         margin-left: 0px;
     }
     .estimate{
         background: #E39D23;
          height: 30px;
         width: 70%;
         color: white;
      
         
     }
     .price{
         margin-top: 10px;
         margin-left: 5px;
         font-size: 15px;
         
     
}
}

@media only screen and  (max-width:415px){

.logo1
{
    margin-left: 15px;
}

.shadow
{
    width: 40vh;
    height: 30vh;
;}
.money2
{
    
   
    font-weight: 800;
      color:black;
}

.property
{
 
    font-size: 13px;
}
.estimate{
   font-size: 15px; 
    padding-top: 2px;
  
}
.price{
  
    font-size: 13px;
}



}











/*------------------------------------------------------------------second part---------------------------------------*/


.container2
    {
   
        display: flex;
        

    }
    
.incon2_1
{
    width: 50%;
    height: 70vh;
    
   
   
    
}

    
.incon2_2
{
    width: 50%;
    height: 70vh;
  
   
   

}

.head1_1
{
    margin-left: 70px;
    margin-top: 20px;
   
    
    height: 50px;
    left: 9.15%;
    right: 64.28%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
   
    text-transform: uppercase;
    
    color: #000000;
}

.pink
{   
    
    width: 45%;
    height: 50vh;
  
    margin-left: 70px;
    background-color: pink;
    
    
    
    
}

.img2{
    width: 60vh;;
    height: 40vh;
    margin-left: 50px;
    margin-top: 30px;
}


 .underline_1{
     color:#778594;
     font-weight: 700;
     
 }

.underline_1:before{
   
    border: 1px solid #778594;
    margin-left: 10px;
    width: 1px;
    height: 50px;
    margin-top: 80px;
    display: block;
    font-weight: 700;
  
   
    content: "";
  
   
  

}

.agents{
    font-weight: 700;
    margin-left: -20px;
  
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
          
}


.unorder_1
{
    
    padding-left: 40px;
    padding-right: 60px;
    line-height: 20px;
    color: #778594;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
      font-weight: 350;
      font-size: 20px;




}

.learn_1
{    
     margin-top: 20px;
    margin-left: 35px;
    border: 1px solid  #E09F22;
    width: 9%;
    height: 40px;
    position: absolute;
   
}

.para_1
{
    margin: 7px;
    color: #E09F22;
   
    
}





/*------------------------------@ media 1024---------------------------container 2-----@media started------------------*/


@media only screen and  (max-width:1024px)
{
    .head1_1{
        margin-left: 30px;
        margin-top: 60px;
       
        
       
    }






    .incon2_1
{
    width: 50%;
    height: 60vh;
   
   
   
    
}

    
.incon2_2
{
    width: 50%;
    height: 60vh;

   
   

}


.pink
{   
    
    width: 40%;
    height: 37vh;
 
    margin-left: 10px;
 
    
    
    
    
}

.img2
{
    width: 30vh;
    height: 32vh;
}


.underline_1:before{

        
    border: 1px solid #778594;
    margin-left: 10px;
    width: 1px;
    height: 50px;
    margin-top: 50px;
   
    content: "";
  
   
  

}

.agents{
    font-weight: 700;
    margin-left: -15px;
    font-size: 30px;
}


.unorder_1
{
    
   
    
    line-height: 35px;
   
    color: #778594;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
      font-weight: 350;
      font-size: 25px;

}

.learn_1
{    
     margin-top: 20px;
    margin-left: 35px;
    border: 1px solid  #E09F22;
    width: 16%;
    height: 45px;
    
   
}
.para_1
{
    font-size: 23px;
}

}



/*---------------------------------------@media 768--------------------*/

@media only screen and  (max-width:768px)
{

    .unorder_1
    {
        
       
        
        line-height: 30px;
       
        color: #778594;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
          font-weight: 350;
          font-size: 20px;
          margin-top: 10px;
        
    
    }


    .learn_1
    {    
         margin-top: 20px;
        margin-left: 35px;
        border: 1px solid  #E09F22;
        width: 16%;
        height: 45px;
        position: absolute;
       
    }
    .para_1
    {
        font-size: 17px;
    }


    .pink
{   
    
    
  
    margin-left: 20px;
    background-color: pink;
    
    
    
    
}

.img2
{
    width: 25vh;
}
    
}

/*---------------------------------------@ media 550-----------------------------------*/

@media only screen and  (max-width:550px){


    .container2
    {
    flex-direction: column;
    }



    .incon2_1
{
    width: 100%;
    height: 70vh;
  
    
   
   
    
}

    
.incon2_2
{
    width: 100%;
    height: 70vh;
 
  
   

}

.pink
{   
    
    width: 35%;
    height: 40vh;
 
    margin-left: 20px;
 
    
    
    
    
}

.img2
{
    width: 45vh;
    height: 32vh;
}



.unorder_1
{
    
   
    
    line-height: 30px;
   
    color: #778594;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
      font-weight: 350;
      font-size: 20px;
      margin-top: 20px;
    

}


.learn_1
{    
     margin-top: 20px;
    margin-left: 35px;
    border: 1px solid  #E09F22;
    width: 28%;
    height: 45px;
    position: absolute;
   
}
.para_1
{
    font-size: 20px;
}

.agents
{
    margin-left: 20px;
}
.underline_1
{
    margin-left: 20px;
}


}

@media only screen and  (max-width:415px)
{

.agents
{
    font-size: 20px;
}

.unorder_1
{
    font-size: 18px;
    
}

.img2
{
    width: 35vh;
}
.learn_1
{
    margin-top: 5px;
}

.para_1
{
    font-size: 15px;
}


.incon2_1
{
    width: 100%;
    height: 60vh;
  

}


.incon2_2
{
    width: 100%;
    height: 65vh;
  
  
   

}

}

@media only screen and  (max-width:376px)
{

   .shadow
   {
       height: 35vh;
       width: 38vh;
   }
    
    
    .incon2_2
    {
        width: 100%;
        height: 58vh;
      
      
       
    
    }




.unorder_1
{
    font-size: 15px;
    margin-top: -10px;
}
.learn_1
{
    margin-top: -10px;
    width: 33%;
    margin-left: 44px;
}
.para_1
{
    
    font-size: 15px;
}





}

@media only screen and  (max-width:360px)
{
    
    .shadow
    {
        height: 40vh;
    }

    .incon2_2
    {
        width: 100%;
        height: 65vh;
      
      
       
    
    }

}


    @media only screen and  (max-width:320px)
{

    .shadow
    {
        height: 38vh;
    }

  .money{
    font-size: 15px;
  }
  .property{
      font-size: 10px;
  }




    .incon2_2
    {
        width: 100%;
        height: 75vh;
        
    }
      .unorder_1
      {
          font-size:13px;
      }
      .para_1{
          font-size: 13px;
      }



}

/*--------------------------------------------------------------container2.1--------------------------------------*/
.container2_2
    {
   
        display: flex;
        

    }
    
.incon2_1_1
{
    width: 50%;
    height: 70vh;
    margin-left: 30px;
 
    
   
   
    
}

    
.incon2_2_2
{
    width: 50%;
    height: 70vh;
 
  
   
   

}

.head1_1_1
{
    margin-left: 70px;
    margin-top: 20px;
   
    
    height: 50px;
    left: 9.15%;
    right: 64.28%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
   
    text-transform: uppercase;
    
    color: #000000;
}

.pink1
{   
    
    width: 45%;
    height: 50vh;
    margin-top: 20px;
    margin-left:150px;
    background-color: pink;
    
    
    
    
}

.img2_1{
    width: 60vh;;
    height: 40vh;
    margin-left: -150px;
    margin-top: 30px;
}


 .underline_1_1{
     color:#778594;
     font-weight: 700;
     
 }

.underline_1_1:before{
   
    border: 1px solid #778594;
    margin-left: 10px;
    width: 1px;
    height: 50px;
    margin-top: 20px;
    display: block;
    font-weight: 700;
  
   
    content: "";
  
   
  

}

.agents1{
    font-weight: 700;
    margin-left: -20px;
  
 
    font-weight: bold;
    font-size: 27px;
    margin-left: 10px;
          
}


.unorder_1_1
{
    
    padding-left: 83px;
    padding-right: 60px;
    line-height: 20px;
    color: #778594;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
      font-weight: 350;
      font-size: 20px;




}

.learn_1_1
{    
     margin-top: 20px;
    margin-left: 90px;
    border: 1px solid  #E09F22;
    width: 9%;
    height: 40px;
    position: absolute;
   
}

.para_1_1
{
    margin: 7px;
    color: #E09F22;
    
}
/*---------------------------------------second container-------------@media---queries-------------------------------------------------------*/
  
@media only screen and  (max-width:1024px)
{
   





    .incon2_1_1
{
    width: 50%;
    height: 60vh;
    margin-left: 15px;
   
   
   
    
}

    
.incon2_2_2
{
    width: 50%;
    height: 60vh;
    

   
   

}


.pink1
{   
    
    width: 55%;
    height: 37vh;
 
    margin-left: 150px;
 
    
    
    
    
}

.img2_1
{
    width: 28vh;
    height: 32vh;
}


.underline_1_1:before{

        
    border: 1px solid #778594;
    margin-left: 10px;
    width: 1px;
    height: 50px;
    margin-top: 50px;
   
    content: "";
  
   
  

}

.agents1{
    font-weight: 700;
    margin-left: 1px;
    font-size: 30px;
}


.unorder_1_1
{
    
   
    
    line-height: 35px;
   
    color: #778594;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
      font-weight: 350;
      font-size: 25px;

}

.learn_1_1
{    
     margin-top: 20px;
    margin-left: 75px;
    border: 1px solid  #E09F22;
    width: 16%;
    height: 45px;
    
   
}
.para_1_1
{
    font-size: 23px;
}

}



/*---------------------------------------@media 768--------------------*/

@media only screen and  (max-width:768px)
{

    .unorder_1_1
    {
        
       
        
        line-height: 30px;
       
        color: #778594;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
          font-weight: 350;
          font-size: 20px;
          margin-top: 10px;
        
    
    }


    .learn_1_1
    {    
         margin-top: 20px;
       
         margin-left: 77px;
        border: 1px solid  #E09F22;
        width: 16%;
        height: 45px;
        position: absolute;
       
    }
    .para_1_1
    {
        font-size: 17px;
    }


    .pink1
{   
    
    
  
    margin-left: 150px;
    background-color: pink;
    
    
    
    
}

.img2_1
{
    width: 30vh;
}
    
}

/*---------------------------------------@ media 550-----------------------------------*/

@media only screen and  (max-width:550px){


    .container2_2
    {
    flex-direction: column;
    }



    .incon2_1_1
{
    width: 100%;
    height: 70vh;
    margin-left: 0px;
  
    
   
   
    
}

    
.incon2_2_2
{
    width: 100%;
    height: 70vh;
 
  
   

}

.pink1
{   
    margin-top: 60px;
    width: 50%;
    height: 43vh;
 
    margin-left: 180px;
 
    
    
    
    
}

.img2_1
{
    width: 48vh;
    height: 32vh;
}



.unorder_1_1
{
    
   
    
    line-height: 30px;
   
    color: #778594;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
      font-weight: 350;
      font-size: 20px;
      margin-top: 10px;
      margin-left: -45px;
    

}


.learn_1_1
{    
     margin-top: 10px;
    margin-left: 45px;
    border: 1px solid  #E09F22;
    width: 28%;
    height: 45px;
    position: absolute;
   
}
.para_1_1
{
    font-size: 20px;
}

.agents1
{
    margin-left: 20px;
}
.underline_1_1
{
    margin-left: 20px;
}


}

@media only screen and  (max-width:415px)
{

.agents1
{
    font-size: 20px;
}

.unorder_1_1
{
    font-size: 18px;
    
}

.img2_1
{
    width: 35vh;
}
.learn_1__1
{
    margin-top: 5px;
}

.para_1_1
{
    font-size: 15px;
}


.incon2_1_1
{
    width: 100%;
    height: 67vh;
  

}


.incon2_2_2
{
    width: 100%;
    height: 65vh;
  
  
   

}
.pink1
{   
    margin-top: 60px;
    width: 43%;
    height: 43vh;
 
    margin-left: 180px;
     
    
}









}

@media only screen and  (max-width:376px)
{

   .shadow
   {
       height: 35vh;
       width: 38vh;
   }
    
    
    .incon2_2_2
    {
        width: 100%;
        height: 58vh;    
    
    }


    .incon2_1_1
{
    width: 100%;
    height: 65vh;
  

}
    




.unorder_1_1
{
    font-size: 15px;
    margin-top: -10px;
}
.learn_1_1
{
    margin-top: -10px;
    width: 33%;
    margin-left: 44px;
}
.para_1_1
{
    
    font-size: 15px;
}





}

@media only screen and  (max-width:360px)
{
    
    .shadow
    {
        height: 40vh;
    }

    .incon2_2_2
    {
        width: 100%;
        height: 65vh;
      
      
       
    
    }

    .incon2_1_1
    {
        width: 100%;
        height: 70vh;
      
      
       
    
    }

    .pink1
{   
    margin-top: 60px;
    width: 33%;
    height: 40vh;
 
    margin-left: 180px;
     
    
}

}


    @media only screen and  (max-width:320px)
{

    .shadow
    {
        height: 38vh;
    }

  .money{
    font-size: 15px;
  }
  .property{
      font-size: 10px;
  }




    .incon2_2_2
    {
        width: 100%;
        height: 75vh;
        
    }

    .incon2_1_1
    {
        width: 100%;
        height: 79vh;
        
    }
      .unorder_1_1
      {
          font-size:13px;
      }
      .para_1_1{
          font-size: 13px;
      }

      .pink1
      {   
          margin-top: 60px;
          width: 33%;
          height: 43vh;
       
          margin-left: 180px;
           
          
      }



}



/*-----------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------3rd contianer------------------container and under line-----------------------------*/

.incon3_1
{
    width: 50%;
    height: 70vh;
    border: 1px solid white;
    float: left;
    box-sizing: border-box;
    
}



.underline_2{
    margin-left: 30px;
    color:#778594;
    
}

.underline_2:before{
  
   border: 1px solid #778594;
   margin-left: 10px;
   width: 1px;
   height: 50px;
   margin-top: 10px;
   display: block;
 
  
   content: "";
 
  
 

}


.agents2{
   font-weight: 700;
   margin-left: 50px;
}

.unorder_2
{
    margin-left: 60px;
    margin-right: 70px;
    line-height: 25px;
    color: #778594;

}



@media only screen and  (max-width:745px)
{
    .incon3_1
{
    width: 50%;
    height: 60vh;
    border: 1px solid white;
    float: left;
    
}

.underline_2:before{ 
    border: 1px solid #778594;
   margin-left: 10px;
  
  
   margin-top: 20px;

  
 

}



.underline_2:before{
  
    border: 1px solid #778594;
   
    width: 1px;
    height: 50px;
    margin-top: 1px;
    display: block;
  
   
   
  
   
  
 
 }



.unorder_2
{
   margin-left: 30px;
   margin-right: 10px;
   line-height: 100%;
  
  
}











}


@media only screen and  (max-width:600px)
{
           
.incon3_1
{
    width: 100%;
    height: 55vh;
    border: 1px solid white;
  
    
}



.underline_2
{
    margin-left: 30px;
}




.underline_2:before{
   
    border: 1px solid #778594;
    margin-left: 10px;
    width: 1px;
    height: 50px;
    margin-top: 10px;
    display: block;
  
   
    content: "";
  
   
  

}
.agents1{
    margin-left: 20px;
}









}


@media only screen and  (max-width:400px){
           
.incon3_1
{
    
    margin-top: 25px;
}

}
/*------------------------------*/
.yelow
{
    background: #FEDCA4;
    width: 45%;
    height: 50vh;
  
    margin-left: 70px;
}


.bluee
{
    background: #D9EFED;
    width: 45%;
    height: 50vh;
  
    margin-left: 250px;
}

.img3{
    width: 70vh;;
    height: 40vh;
    margin-left: -200px;
    margin-top: 30px;
}


@media only screen and  (max-width:1480px){



    .bluee
{
  
    margin-left: 300px;
}
.img3{
   
    margin-left: -250px;
    width: 60vh;;
   
}






}



@media only screen and  (max-width:1273px){


    .bluee{
    background: #D9EFED;
    width: 45%;
    height: 50vh;
  
    margin-left: 230px;
}

.img3{
   
   
    width: 60vh;;
   
}






}



@media only screen and  (max-width:1050px){


    .img3{
   
       height: 30vh;
        width: 50vh;;
       
    }

    
    .bluee{
        background: #D9EFED;
        width: 35%;
        height: 40vh;
      
        margin-left: 230px;
    }

    


}


@media only screen and  (max-width:800px){


    .img3{
   
       height: 30vh;
        width: 35vh;
        margin-left: -170px;
       
    }

    
    .bluee{
        background: #D9EFED;
        width: 35%;
        height: 40vh;
      
        margin-left: 200px;
    }

    


}



@media only screen and  (max-width:600px){


    .incon3_1
    {
        width: 100%;
       
       
    }



    .bluee{
        background: #D9EFED;
        width: 45%;
        height: 40vh;
        margin-top: 30px;
      
        margin-left: 250px;
    }



    .img3{
       
        height: 30vh;
         width: 50vh;
         margin-left: -170px;
        
     }








}


@media only screen and  (max-width:550px){


    .bluee{
        background: #D9EFED;
        width: 45%;
        height: 40vh;
        margin-top: 30px;
      
        margin-left: 200px;
    }
    

    .img3{
       
        height: 30vh;
         width: 30vh;
         margin-left: -50px;
        
     }








}



@media only screen and  (max-width:450px){






    .bluee{
        background: #D9EFED;
        width: 65%;
        height: 40vh;
        margin-top: 30px;
      
        margin-left: 90px;
    }


    


}

/*--------------------------------------------container4---------------------------------------------------------*/



.why{
    margin-left: 40px;
    margin-top: 180px;
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 34px;
line-height: 42px;


text-transform: uppercase;

color: #000000;

}



.container4
{
 
    
    display: flex;
    margin-left: 20px;
    width: 97%;
    margin-top: 25px;
    
    
}

.box1
{
    width: 33.3%;
    height: 60vh;
   
    background:#FFEBE5;
   

}



.box1_2
{
    width: 33.3%;
    height: 60vh;
    margin-right: 20px;
    background:#FFEBE5;
   

}



.box1_3
{
    width: 33.3%;
    height: 60vh;
   
    background:#FFEBE5;
   

}
.beforee{
    box-sizing: border-box;
    padding-left: 1px;
    background-color: black;
    color: white;
    width: 65px;
    height: 30px;

}


.afterr{
    box-sizing: border-box;
    padding-left: 1px;
    background-color: black;
    color: white;
    width: 60px;
    height: 30px;

}




.logo6{
    width: 100%;
    height: 100%;
 
    
   
 
    background-image:url("../images/coins.png");
}



.logo7{
    width: 100%;
    height: 100%;
    
   
 
    background-image:url("../images/kitchen2.jpg");
}


.chi{

    margin-top: 20px;

}


.underline_4{
   
    border: 1px solid #778594;
    margin-left: 30px;
    width: 1px;
    height: 200px;
    margin-top: 20px;
    display: block;
  
   
    content: "";
  
   
  

}


.renovation
{
    margin-left: 50px;
    line-height: 90%;
    margin-top: 25px;
    color: #778594;
   

}

.margintop{
    margin-top: -200px;
}


.check{
    margin-top:80px;
    margin-left: 50px;
    box-sizing: border-box;
   
    padding:5px;
    color: whitesmoke;
   
    background: #E39D23;
    height: 30px;
    width: 30%;
    font-size: 13px;

}

@media only screen and  (max-width:725px){




    .container4
{
 
    
    flex-direction: column;
   
 
    
}


.box1
{
    width: 100%;
    height: 60vh;
  
    background:#FFEBE5;
   

}

.box1_1
{
    width: 100%;
    height: 60vh;
  
    background:#FFEBE5;
   

}

.box1_2
{
    width: 100%;
    height: 60vh;
  
    background:#FFEBE5;
   

}

}


@media only screen and  (max-width:1024px){

    .container4{
        width: 95%;
    }

 .box1{
     height: 30vh;
 }

 
 .box1_2{
    height: 30vh;
   
}

.box1_3{
    height: 30vh;
}










}
/*----------------------------------------------column3------------------second time------------------*/

    
.container4_1
{
    display: flex;
    width: 98%;
    
    margin-top: 20px;
}


.boxx2_1
{
    width: 100%;
    height: 60vh;
   
 

}


.boxx3_1
{
    width: 100%;
    height: 60vh;
   
 
  
  


}



.boxx4_1
{
    width: 100%;
    height: 60vh;
    margin-right: 20px;
    margin-left: 20px;
    background:#FFEBE5;
    order: -1;
  

}





.logo8{
    width: 100%;
    height: 100%;
 
    
   
 
    background-image:url("../images/kitchen3.jpg");
}



.logo9{
    width: 100%;
    height: 100%;
    
   
 
    background-image:url("../images/kitchen4.jpg");
}



.logo10{
    width: 100%;
    height: 100%;
 
    
   
 
    background-image:url("../images/kitchen5.jpg");
}



.logo11{
    width: 100%;
    height: 100%;
    
   
 
    background-image:url("../images/kitechen6.jpg");
}




.about{
    margin-left: 40px;

    margin-top: 40px;

    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 34px;
line-height: 42px;


text-transform: uppercase;

color: #000000;

}

@media only  screen and  (max-width:1024px){
  .container4_1
  {
      margin-top: 20px;
      width: 95%;
      margin-left: 20px;
     
  }  


.boxx2_1
{
    width: 100%;
    height: 30vh;
    
   

}


.boxx3_1
{
    width: 100%;
    height: 30vh;
    
   
  
  


}



.boxx4_1
{
    width: 100%;
    height: 30vh;
    margin-right: 20px;
    background:#FFEBE5;
    order: -1;
    margin-left: 0px;
   

}
}

@media only screen and  (max-width:725px){




    .container4_1
{
 
    
    flex-direction: column;

}


.box1
{
    width: 100%;
    height: 60vh;
  
    background:#FFEBE5;
   

}

.box1_2
{
    width: 100%;
    height: 60vh;
  
    background:#FFEBE5;
   

}

.box1_3
{
    width: 100%;
    height: 60vh;
  
    background:#FFEBE5;
   

}


@media only screen and  (max-width:540px){


.why{
    padding-top: 200px;
   
}

.container4{
    padding-top: 50px;   
}
.box1
{
    margin-top: 10px;
    width: 98%;
    height: 50vh;
}
.box1_2
{
    margin-top: 20px;
    width: 98%;
    height: 50vh;
}



.box1_3
{
    margin-top: 20px;
    width: 98%;
    height: 50vh;
}

.boxx2_1
{
    width: 98%;
    margin-top: 20px;
    height: 50vh;
}
.boxx3_1
{
    width: 98%;
    margin-top: 20px;
    height: 50vh;
}
.boxx4_1
{
    width: 98%;
    margin-top: 20px;
    height: 50vh;
}






}











}

/*-----------------------------------------------------container 5------------------------------------------*/




.container5
{
 
    
    display: flex;
    
    
}



.box10
{
    width: 100%;
    height: 80vh;
    
   
    
   

}


.box11
{
    width: 100%;
    height: 80vh;
   
    


}



.box12
{
    width: 100%;
    height: 80vh;
    
   
   
  
   

}



.img4{
       
    height: 35vh;
     width: 100%;
     padding: 25px;
    
    
 }


 .repair
 {
     padding: 25px;
     padding-top: 0px;
     font-size: 25px;
 }


    .with
    {
        padding: 20px;
        font-family: Montserrat;
      font-style: normal;
     font-weight: normal;
       font-size: 14px;
          line-height: 25px;



   color: #778594;
    }


    @media only screen and  (max-width:818px){




        .container5
    {
     
        
        flex-direction: column;
       
     
        
    }
    
    
    .box10
    {
        
    width: 100%;
    height: 60vh;
      
    
    }



    .box11
    {
         
      width: 100%;
        height: 60vh;
       
       
    
    }


    .box12
    {
         
            width: 100%;
           height: 60vh;
           
       
    
    }
    
    
    
    
    }

    /*-------------------------------------------------container 6---------------------*/



    .container6
{
 
    
    display: flex;
    
    padding: 10px;
    
    
}



.box13
{
    
width: 33%;
height: 40vh;

background-image:url("../images/service.png");
}
  




.box14
{
     
  width: 20%;
    height: 40vh;
 
   

}


.box15
{
     
  width: 46%;
    height: 40vh;
   
   

}

.list{
    padding: 25px;
    text-transform: uppercase;
    font-size: 25px;
  
}

.ser
{
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
     line-height: 75%;
     color: #778594;

}

.serr
{
    margin-top: 60px;
}



@media only screen and  (max-width:1024px){



  

    .box13
    {
     width: 60%;
    
     height: 30vh;
    }
    .box14
    {
     width: 30%;
    
    }


    .box15
    {
      width: 30%;  
     
    }




}



@media only screen and  (max-width:818px){




    .container6
{
 
    
    flex-direction: column;
   
 
    
}


.box13
{
    
width: 100%;
height: 60vh;
  

}



.box14
{
     
  width: 100%;
    height: 34vh;
   
   

}


.box15
{
     
        width: 100%;
       height: 35vh;
      
       
   

}

.serr
{
    margin-top: 0px;
}





}

@media only screen and  (max-width:770px){



    .box15{
        margin-top: -90px;
    }


}




@media only screen and  (max-width:320px){








.serr
{
    margin-top: 60px;
}





}



@media only screen and  (max-width:876px){

    .box11{
        margin-top: 150px;
    }

    .box12{
        margin-top: 150px;
    }

    .box13{
        margin-top: 150px;
    }


}


@media only screen and  (max-width:370px){


    .serr{
        margin-top: 40px;
    }
     

    .why{
        margin-top: 100px;
    }




    

    .underline_2{
        margin-top: 80px;
    }

}


@media only screen and  (max-width:320px){


    .serr{
        margin-top: 65px;
    }

    
    .underline_2{
        margin-top: 110px;
    }

    .bluee
    {
        margin-top: 80px;
    }
    

    .incon2_1
    {
        margin-top: 30px;
    }
}

  @media only screen and  (max-width:540px){


    .box15
    {
        margin-top: 10px;
    }

}

@media only screen and  (max-width:411px){


    .box15
    {
        margin-top: -20px;
    }

}

@media only screen and  (max-width:375px){


    .box15
    {
        margin-top: 25px;
    }

}

@media only screen and  (max-width:375px){


    .box15
    {
        margin-top: -5px;
    }

}



/*--------------------------------------------------------------------------testimonial-------------------------*/
.test{
    margin-top: 150px;
    
    color: #000000;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 42px;
    padding: 20px;

}

.container7
{
    display: flex;
    padding-left: 150px;
}

.box18
{
     
  width: 80%;
    height: 30vh;
   
   
   
   

}

.dolor
{
    padding: 50px;
  
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    
    
    
    box-shadow: #F2F2F2 0px 15px 30px 10px;
    
    
    letter-spacing: 0.211416px;
    
    color: #364347;
    
}



@media only screen and  (max-width:818px){

    .container7
{
    flex-direction: column;
     padding-left: 10px;
    
    
}


.box18
{
     
  width: 100%;
    height: 30vh;
    padding: 0px;
   
   
   
   

}







}
@media only screen and (max-width:540px){
.container7
{
    display: flex;
    margin-left: 5px;
   
    
    width: 95%;
}





}




/*----------------------------------container 8---------------------------------------------------------------*/


.container8
{
    display: flex;
    margin-top: 100px;
}

.box20
{
    width: 20%;
    height: 20vh;
   
    
}

.box21
{
    width: 20%;
    height: 20vh;
   
    
}
.box22
{
    width: 20%;
    height: 20vh;
   
}
.box23
{
    width: 20%;
    height: 20vh;
   
}
.box24
{
    width: 20%;
    height: 20vh;
   
}
.box25
{
    width: 20%;
    height: 20vh;
   
}
.img5
{
    width: 100%;
    height: 100%;
    clip-path: circle();
}


@media only screen and  (max-width:500px){


    .container8
{
    flex-direction: column;
    margin-top: 95px;
}

.box20
{
    width: 100%;
    height: 20vh;
  
    margin-top: 20px;
    
}

.box21
{
    width: 100%;
    height: 20vh;

    margin-top: 20px;
    
}
.box22
{
    width: 100%;
    height: 20vh;

    margin-top: 20px;
}
.box23
{
    width: 100%;
    height: 20vh;

    margin-top: 20px;
}
.box24
{
    width: 100%;
    height: 20vh;
   
    margin-top: 20px;
}
.box25
{
    width: 100%;
    height: 20vh;
   
    margin-top: 20px;
}











}

@media only screen and  (max-width:355px){


    .container8
{
    flex-direction: column;
    padding-top: 160px;
}



}


@media only screen and  (max-width:500px){



    .container8
{
    flex-direction: column;
    padding-top: 160px;
}



}

/*--------------------------------------------container9----------------------------------*/

.submit:hover{
    color:white;
    background-color: black;
}


.form::-webkit-input-placeholder{
    font-size: 12px;
    padding-left: 35px;
}




.contain9_yellow{

    width: 95%;
    
    background: #E09F22;
    box-shadow: 0px 10px 30px rgba(119, 133, 148, 0.5);
     border-radius: 5px;
    height: 35vh;
    margin-left: 20px;
    margin-top: 100px;

}






.container9{
    display: flex;
  
      
}

.for{
    font-weight: normal;
    font-size: 27px;
   line-height: 42px;
   padding: 20px;

   

       text-transform: uppercase;

       color: #FFFFFF;

}

.box26
{
    width: 20%;
    height: 10vh;
  
    margin: 30px;
   
    
}

.box27
{
    width: 20%;
    height: 10vh;
   
    margin: 30px;
   
    
}
.box28
{
    width: 20%;
    height: 10vh;

    margin: 30px;
   
}




.box29
{
    width: 10%;
    height: 10vh;
  
    margin: 25px;
   
     
   
}

.form{
    width: 100%;
    height: 10vh;
  
}

.submit{
    width: 100%;
    height: 10vh;
    background: #E09F22;
    color: white;
    border: 1px solid white;
  
}

@media only screen and  (max-width:1024px){

.contain9_yellow{

    height: 30vh;

}




.box26
{
    width: 20%;
    height: 5vh;
 
  
    margin: 25px;
   
    
}

.box27
{
    width: 20%;
    height: 5vh;
 
    margin: 25px;
   
    
}
.box28
{
    width: 20%;
    height: 5vh;
 
    margin: 25px;
   
}

.form
{
    height: 5vh;
}
.submit{
    height: 5vh;
}


}



@media only screen and  (max-width:626px){

  .submit
{
    margin-left: 0px;
}
    .box26
{
    width: 25%;
    height: 5vh;
  
    margin:10px;
   
    
}

.form::-webkit-input-placeholder{
    font-size: 12px;
    padding-left: 0px;
}

.box27
{
    width: 25%;
    height: 5vh;
   
    margin:10px;
   
    
}
.box28
{
    width: 25%;
    height: 5vh;

    margin:10px;
   
}




.box29
{
    width: 20%;
    height: 5vh;
  
    margin:10px;
   
     
   
}







}


@media only screen and  (max-width:540px){
  .form{
      margin-top: -30px;

      
      
  }
   .submit{
       margin-top: -60px;
       margin-left: 60px;
   }


}

@media only screen and  (max-width:540px){



    .contain9_yellow
    {
        width: 96%;
        margin-left: 10px;
    }


    .for{
        font-weight: normal;
        font-size: 15px;
       line-height: 42px;
       padding: 20px;
    
       
    
           text-transform: uppercase;
    
           color: #FFFFFF;
    
    }
    


    .box26
{
    width: 18%;
    height: 2vh;
  
    margin:5px;
   
    
}

.box27
{
    width: 18%;
    height: 2vh;
   
    margin:5px;
   
    
}
.box28
{
    width: 18%;
    height: 2vh;

    margin:5px;
   
}




.box29
{
    width: 18%;
    height: 2vh;
  
    margin:5px;
   
     
   
}
.form{
    height: 5vh;
}

.form::-webkit-input-placeholder{
    font-size: 12px;
}


.submit{
    height: 5vh;
}




}


@media only screen and  (max-width:500px){

.container9{
    flex-direction: column;
}

.box26
{
    width: 100%;
  
   
    height: 2vh;
     margin-top: 10px;
     padding: 15px ;
  
   
    
}

.box27
{
    width: 100%;
    height: 2vh;
    padding-top:0px;
    margin-top: 10px;
    padding: 15px;
 
   
    
}
.box28
{
    width: 100%;
    height: 2vh;
    padding-top:0px;
    padding: 15px;

   
   
}




.box29
{
    width: 100%;
    height: 2vh;
    padding-top:-10px;
    padding: 15px;
  
  
   


}


.contain9_yellow{

    width: 95%;
    
    background: #E09F22;
    box-shadow: 0px 10px 30px rgba(119, 133, 148, 0.5);
     border-radius: 5px;
    height: 60vh;
    margin-left: 20px;
    margin-top: 100px;

}


.submit{
    margin-left: 0px;
    margin-top: 10px;
}







}


@media only screen and  (max-width:414px){


.contain9_yellow
{
    width: 95%;
    margin-left: 10px;
    height: 53vh;
  
}


.submit
{
    margin-left: 0px;
}
}


@media only screen and  (max-width:320px){


    .for{
        font-size: 10px;
    }


   .contain9_yellow
{
    width: 95%;
    margin-left: 10px;
    height: 60vh;
  
}





}



@media only screen and  (max-width:414px){



    .box26
    {
        padding: 20px;
    }

    .box27
    {
        padding: 20px;
    }



    .box28
{
    padding: 20px;
}



.box29
{
    padding: 20px;
}
}


/*--------------------------------------------contain -------9--------------------------------------------------------------------------*/

.contain9_1
{
    
    background: #34495E;  
    width: 98%;
    margin-left: 10px;
     
    height: 65vh; 
    margin-top: 60px;
     
   

}








.contain9_blue{


    width: 98%;
    height: 50vh;
    display: flex;
    margin-left: 10px;
     
      
    margin-top: 60px;
    
   
   



}
.box31{
    width: 30%;
    height: 50vh;
    
}

.box32{
    width: 30%;
    height: 50vh;
    
}


.box33{
    width: 30%;
    height: 50vh;
    
}


.box34{
    width: 30%;
    height: 50vh;
    
}







.listin{
    position: absolute;
    font-weight: 700;
    margin-left: 50px;
   margin-top: 40px;
    font-size: 20px;
    color: #000006;


}
.listin:before{
    content: "";
    border: 0.595px solid #231F20;
    width: 145px;
    height: 0.5px;
    display: block;
}

.listin::after{
    content: "";
    border: 0.595px solid #231F20;
    width: 145px;
    height: 0.5px;
    display: block;
}

.read{
    color: #DD9C20;
}

.sizee{
    margin-top: 40px;
    
    font-weight: bold;
    font-size: 20px;
   line-height: 24px;
     letter-spacing: 1.25px;
       text-transform: uppercase;

      color: #F8FFF9;

}
.size1{
    font-weight: normal;
    font-size: 16px;
    line-height: 45px;
   
    
    letter-spacing: 1.2px;
    
    color: #F4F4F4;
    
    mix-blend-mode: normal;
    opacity: 0.5;

}

.final{
    margin-right: 90px;
    margin-top: 40px;
    font-weight: normal;
  
    color: #F4F4F4;
    opacity: 0.8;
}



@media only screen and  (max-width:872px){


    .final{
        margin-right: 40px;
        margin-top: 40px;
        font-size: 15px;

    }


    


.listin{
    position: absolute;
    font-weight: 700;
    margin-left: 10px;
   margin-top: 40px;
    font-size: 20px;
    color: #000006;


}
.listin:before{
    content: "";
    border: 0.595px solid #231F20;
    width: 145px;
    height: 0.5px;
    display: block;
}

.listin::after{
    content: "";
    border: 0.595px solid #231F20;
    width: 145px;
    height: 0.5px;
    display: block;
}



    }


    @media only screen and  (max-width:769px){


      
  .container9_1
  {
      height: 40vh;
  }



    .contain9_blue{


        width: 94%;
        height: 50vh;
        display: flex;
        margin-left: 10px;
        
        margin-top: 60px;
        
       
        background: #34495E;
    
    
    
    }

}

    @media only screen and  (max-width:700px){


        .contain9_blue{

            flex-direction: column;
            height: 120vh;
           

    }

    .contain9_1
    {
        height: 120vh;
    }

  
    .box31{
        width: 100%;
        height: 77vh;
       
    }
    
    .box32{
        width: 100%;
        height: 50vh;
        
    }
    
    
    .box33{
        width: 100%;
        height: 50vh;
     
    }
    
    
    .box34{
        width: 100%;
        height: 50vh;
       
    }




    .listin{
        position: absolute;
        font-weight: 700;
        margin-left: 150px;
       margin-top: 10px;
        font-size: 20px;
        color: #000006;
    
    
    }

    .final{
        margin-right: 90px;
        margin-top: 40px;
        margin-left: 20px;
        color: #F4F4F4;
    }
.sizee{


    margin-left: 20px;

}
.size1{

    margin-left: 20px;

}


}

@media only screen and  (max-width:350px){



    .listin{
        position: absolute;
        font-weight: 700;
        margin-left: 100px;
       margin-top: 10px;
        font-size: 20px;
        color: #000006;
    
    
    }



    .sizee{


        margin-left: 20px;
        margin-top: 10px;
    
    }
    .size1{
    
        margin-left: 20px;
        margin-top: 10px;
    
    }



}











    


@media only screen and  (max-width:320px){

    .contain9_blue{

        height: 150vh;
    }




}
.final1{
   
    
    color: #F4F4F4;
    opacity: 0.4;
    margin-top: -15px;
    
}

.line_under{
 
   
    margin-left: 340px;
   margin-top: 30px;
 
    width: 65%;
    display: flex;
   
   opacity: 0.5;
   border: 1px solid  #F4F4F4;
} 


.line_under1{
 
   
    margin-left: 340px;
   margin-top: 30px;
 
    
    display: flex;
    color:  #F4F4F4;
   opacity: 0.9;
   
} 


@media only screen and  (max-width:1024px){
    .contain9_1
    {
        
        background: #34495E;  
        width: 98%;
        margin-left: 10px;
         
        height: 40vh; 
        margin-top: 60px;
         
       
    
    }

    .line_under{
 
   
        margin-left: 240px;
       margin-top: -330px;
     
        width: 65%;
        display: flex;
       
       opacity: 0.5;
       border: 1px solid  #F4F4F4;
    } 
    
    
    .line_under1{
     
       
        margin-left: 240px;
       margin-top: 30px;
     
        
        display: flex;
        color:  #F4F4F4;
       opacity: 0.9;
       
    } 





}


@media only screen and  (max-width:768px){
    .contain9_1
    {
        
        background: #34495E;  
        width: 98%;
        margin-left: 10px;
         
        height: 50vh; 
        margin-top: 60px;
         
       
    
    }

    .line_under{
 
   
        margin-left: 180px;
       margin-top: -180px;
     
        width: 65%;
        display: flex;
       
       opacity: 0.5;
       border: 1px solid  #F4F4F4;
    } 
    
    
    .line_under1{
     
       
        margin-left: 180px;
       margin-top: 30px;
     
        
        display: flex;
        color:  #F4F4F4;
       opacity: 0.9;
       
    } 





}

@media only screen and  (max-width:768px){


    .contain9_1
    {
        
        background: #34495E;  
        width: 98%;
        margin-left: 10px;
         
        height: 50vh; 
        margin-top: 60px;
         
       
    
    }

    .line_under{
 
   
        margin-left: 160px;
       margin-top: -140px;
     
        width: 65%;
        display: flex;
       
       opacity: 0.5;
       border: 1px solid  #F4F4F4;
    } 
    
    
    .line_under1{
     
       
        margin-left: 160px;
       margin-top: 10px;
     
        
        display: flex;
        color:  #F4F4F4;
       opacity: 0.9;
       
    } 
    .final1
    {
        margin-left: 0px;
    }


}


@media only screen and  (max-width:540px){


    .contain9_1
    {
        
        background: #34495E;  
        width: 96%;
        margin-left: 10px;
         
        height: 145vh; 
        margin-top: 60px;
         
       
    
    }

    .final1
    {
        margin-left: 20px;
    }

    .line_under{
 
   
        margin-left: 90px;
       margin-top: 40px;
     
        width: 65%;
        display: flex;
       
       opacity: 0.5;
       border: 1px solid  #F4F4F4;
    } 
    
    
    .line_under1{
     
       
        margin-left: 90px;
       margin-top: 10px;
     
        
        display: flex;
        color:  #F4F4F4;
       opacity: 0.9;
       
    } 
}

    @media only screen and  (max-width:415px){






        .line_under{


            margin-top: 50px;
            margin-left: 40px;



        }

       .line_under1{


            margin-left: 40px;
            font-size: 12px;

        }

      

}

@media only screen and  (max-width:375px){

    .contain9_1
    {
        
        background: #34495E;  
        width: 90%;
 
         
    
         
       
    
    }
    
    
    
    
    
    
    


    
  

    .line_under{


        margin-top: 150px;
        margin-left: 40px;



    }

   .line_under1{


        margin-left: 40px;
        font-size: 12px;

    }

    .contain9_1
    {
        
        background: #34495E;  
        width: 98%;
        margin-left: 10px;
         
        height: 155vh; 
        margin-top: 60px;
         
       
    
    }



}

@media only screen and  (max-width:320px){


    .contain9_1
    {
        
        background: #34495E;  
        width: 98%;
        margin-left: 10px;
         
        height: 175vh; 
        margin-top: 60px;
         
       
    
    }





    
    .line_under{


        margin-top: 40px;
        margin-left: 40px;



    }

   .line_under1{


        margin-left: 30px;
        font-size: 12px;

    }


}
    






















